<ion-header>
  <ion-toolbar color="tertiary">
      <ion-title>
        Customize Frequency
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Enabled</ion-label>
      <ion-toggle [(ngModel)]="options.enabled" color="primary"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Repeat</ion-label>
      <ion-select [(ngModel)]="options.repeat" interface="popover" (ionChange)="onSelectChange($event)">
          <ion-select-option value="daily">Repeat daily</ion-select-option>
          <ion-select-option value="weekly">Repeat every week</ion-select-option>
          <ion-select-option value="monthly">Repeat every month</ion-select-option>
          <ion-select-option value="annually">Repeat every year</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
        <span>Every</span>
        <ion-input class="count" [(ngModel)]="options.count" type="number"></ion-input>
        <span> {{ dateText }} </span>
    </ion-item>
    <div *ngIf="options.repeat === 'weekly'">
      <!-- TODO: Load week selector component. -->
      <app-days-week-picker (event)="selectedWeekday($event)"></app-days-week-picker>
    </div>
    <div *ngIf="options.repeat === 'monthly'">
      <ion-item>
        <ion-label text-wrap>The same day of the month</ion-label>
        <ion-toggle [(ngModel)]="toggle" color="primary" (ionChange)="ionChangeCondition1($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>The third Tuesday of the month</ion-label>
        <ion-toggle [(ngModel)]="!toggle" color="primary" (ionChange)="ionChangeCondition2($event)"></ion-toggle>
      </ion-item>
    </div>
    <ion-item lines="none">
      <ion-label position="floating">When</ion-label>
      <ion-select [(ngModel)]="options.when.text" interface="popover" (ionChange)="onSelectWhenChange($event)">
          <ion-select-option value="always">Always</ion-select-option>
          <ion-select-option value="untilDate">Until a date</ion-select-option>
          <ion-select-option value="numberEvents">A number of events</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="options.when.text === 'numberEvents'" lines="none">
        <ion-label position="floating">Number events</ion-label>
        <ion-input [(ngModel)]="numberEvents" class="count" type="number"></ion-input>
    </ion-item>
    <ion-item *ngIf="options.when.text === 'untilDate'" lines="none">
      <ion-label>Select date</ion-label>
      <ion-datetime [(ngModel)]="untilDate" displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>
    <ion-item text-center lines="none">
      <ion-button fill="clear" (click)="onClickAccept()">
        <ion-icon name="checkmark"></ion-icon>
        Accept
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
