<ion-item lines="none">
  <!--
  <ion-label class="ion-text-wrap">
    <ion-text>
      <h2 tappable><b>My List </b><ion-icon name="create"></ion-icon></h2>
    </ion-text>
  </ion-label>
  -->
  <ion-button (click)="editTitle = !editTitle" slot="start" fill="clear">
      <ion-icon name="create"></ion-icon>
  </ion-button>
  <ion-input [(ngModel)]="noteTitle" style="width: 100%" autofocus="" [disabled]="!editTitle" (ionChange)="noteTitleChanged()" debounce="1000"></ion-input>
  <ion-button slot="end" fill="clear" (click)="presentPopover()">
    <ion-icon name="more"></ion-icon>
  </ion-button>
</ion-item>
<ion-item>
  <ion-input [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()" style="width: 100%" placeholder="What needs to be done?" autofocus=""></ion-input>
</ion-item>
