<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Projects
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="projects.length !== 0">
        <ion-item *ngFor="let project of projects; let i = index">
            <ion-thumbnail slot="start">
                <img *ngIf="project.thumbnail !== ''" [src]="project.thumbnail" class="thumbnailImg">
                <img *ngIf="project.thumbnail === ''" src="assets/images/thumb-not-available.png" class="thumbnailImg">
            </ion-thumbnail>
            <ion-badge *ngIf="people.length === projects.length" tappable slot="end" color="secondary" (click)="showPeople(project.name)"><ion-icon name="people"></ion-icon> {{people[i].length}}</ion-badge>
            <ion-label>
            <h2>{{ project.name }}</h2>
            <h3>{{ project.description }}</h3>
            <p>Technologies</p>
            <ion-badge class="technology" *ngFor="let technology of project.technologies.split(',')" color="primary">{{technology}}</ion-badge>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>