<ion-card>
  <ion-card-header>
  <ion-card-subtitle>Made with love!!</ion-card-subtitle>
  <ion-card-title>Color picker</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
            <div class="circle" [ngStyle]="{'background': color}"></div>
        </ion-avatar>
        <ion-label>
          <h2> {{heading}} </h2>
          <h3> {{color}} </h3>
        </ion-label>
      </ion-item>
      <br>
      <ion-item *ngIf="show">
        <div class="colors">
          <div (click)="changeColor(paint)" *ngFor="let paint of defaultColors" class="circle" [ngStyle]="{'background': paint}"></div>
        </div>
      </ion-item>
  </ion-card-content>
</ion-card>
