<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
              <ion-icon name="close" color="light"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
          Upcoming Employees Absences
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">
        {{ day.badgeTotal }}
      </span>
      <span class="cal-day-number">
        {{ day.date | calendarDate:'monthViewDayNumber':locale }}
      </span>
      <!--
      <small *ngIf="day.badgeTotal > 0" style="margin: 5px">
        {{ day.events[0].meta }}
      </small>
      -->
    </div>
    <ion-grid *ngIf="day.badgeTotal > 0">
      <ion-row align-items-start>
        <ion-col *ngFor="let event of day.events">
            <ion-avatar>
                <img [src]="event.meta.avatar">
            </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [cellTemplate]="customCellTemplate"
      [excludeDays]="excludeDays"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      [refresh]="refresh"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [excludeDays]="excludeDays"
      [refresh]="refresh"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
    >
    </mwl-calendar-day-view>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>Next Absences</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let event of nextAbsences">
      <ion-avatar slot="start">
        <img [src]="event.meta.avatar" onError="src='assets/images/login-avatar.png'" alt="Avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ event.start | date }} - {{ event.end | date }}</h2>
        <h3>{{ event.title }}</h3>
      </ion-label>
      <ion-badge slot="end" color="primary">{{ event.meta.status }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
