<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
              <ion-icon name="close" color="light"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
          Upcoming Employees Absences
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0"
        >{{ day.badgeTotal }}</span
      >
      <span class="cal-day-number"
        >{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span
      >
      <small *ngIf="day.badgeTotal > 0" style="margin: 5px"
      >{{ day.events[0].meta }}</small
    >
    </div>
    <ion-grid *ngIf="day.badgeTotal > 0">
        <ion-row>
          <ion-col size="4">
              <ion-avatar>
                  <img src="http://i.pravatar.cc/150?img=7">
              </ion-avatar>
          </ion-col>
          <ion-col size="4">
              <ion-avatar>
                  <img src="http://i.pravatar.cc/150?img=8">
              </ion-avatar>
          </ion-col>
          <ion-col size="4">
              <ion-avatar>
                  <img src="http://i.pravatar.cc/150?img=9">
              </ion-avatar>
          </ion-col>
          <ion-col size="4">
              <ion-avatar>
                  <img src="http://i.pravatar.cc/150?img=7">
              </ion-avatar>
          </ion-col>
          <ion-col size="4">
              <ion-avatar>
                  <img src="http://i.pravatar.cc/150?img=8">
              </ion-avatar>
          </ion-col>
          <ion-col size="4">
              <ion-avatar>
                  <img src="http://i.pravatar.cc/150?img=9">
              </ion-avatar>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ng-template>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [cellTemplate]="customCellTemplate"
      [excludeDays]="excludeDays"
      (dayClicked)="dayClicked($event.day)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [excludeDays]="excludeDays"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
    >
    </mwl-calendar-day-view>
  </div>
</ion-content>
