.circle {
    $size: 20px;
    height: $size;
    width: $size;
    box-sizing: border-box;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #dadada;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.colors {
    display: flex;
    flex-wrap: wrap;

    .circle {
      flex: 20px 0 0;
      margin-left: 10px;
      margin-bottom: 10px;
    }
}

ion-avatar {
    width: 20px;
    height: 20px;
}
