<ion-item *ngIf="!readOnly">
    <!--<ion-col size="2">-->
        <ion-checkbox [checked]="todo.complete" color="primary" (click)="toggleTodoComplete(todo)"></ion-checkbox>
    <!--</ion-col>-->
  <!--<input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">-->
  <ion-label>
    <h2 [ngClass]="todo.complete ? 'lineThrough' : 'noLineThrough'"><b>{{todo.title}}</b></h2>
    <p>{{todo.dateTime}}</p>
  </ion-label>
  <ion-buttons slot="end">
    <ion-button slot="end" color="danger" fill="clear" (click)="removeTodo(todo)">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <!--
  <ion-button slot="end" color="danger" fill="clear" (click)="removeTodo(todo)">
      <ion-icon slot="icon-only" name="close-circle"></ion-icon>
  </ion-button>
  -->
  <ion-reorder *ngIf="!todo.complete" slot="end"></ion-reorder>
</ion-item>

<ion-item *ngIf="readOnly">
    <ion-label class="ion-text-wrap"p>
        <h2><b>{{todo.title}}</b></h2>
        <p>{{todo.dateTime}}</p>
    </ion-label>
</ion-item>
