<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{modalTitle}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="ngselectForm" novalidate (ngSubmit)="ngselectFormSubmit()">
        <ion-list inset>
            <ion-item lines="none">
                <ng-select *ngIf="items.length !== 0" [class.has-error]="ngselectForm.get('newData').hasError('required') && ngselectForm.get('newData').touched" [multiple]="true" [items]="items"
                            bindLabel="name"
                            bindValue="_id"
                            placeholder="Select"
                            formControlName="newData"
                            appendTo="body">
                    <ng-template ng-label-tmp let-item="item">
                        <img height="48" width="48" [src]="item.icon"/>
                        <b>{{item.name}}</b>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <img height="48" width="48" [src]="item.icon"/>
                        <b> {{item.name}}</b>
                    </ng-template>
                </ng-select>
            </ion-item>
            <ion-item lines="none" *ngIf="ngselectForm.get('newData').hasError('required') && ngselectForm.get('newData').touched">
                <div class="error-message">
                    This field is required.
                </div>
            </ion-item>
        </ion-list>
        <ion-row no-padding justify-content-center>
            <ion-col col-auto text-right>
                <ion-button [disabled]='!ngselectForm.valid' type="submit" fill="clear" size="small" color="primary">
                <ion-icon name='send' slot="start"></ion-icon>
                Accept
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
