<app-header title="Holidays">
  <ion-buttons buttons-start slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons buttons-end slot='end'>
    <!--
      Show only when user has requests vacations team not approved.
    -->
    <ion-button (click)="showEmployeesHolidaysRequests()">
      <ion-badge *ngIf="employeesHolidaysRequests.length !== 0" color="danger"> {{employeesHolidaysRequests.length}} </ion-badge>
      <ion-icon slot="icon-only" name="notifications"></ion-icon>
    </ion-button>
    <ion-button (click)="showHistory()">
      <ion-icon slot="icon-only" name="time"></ion-icon>
    </ion-button>
    <!--
    <ion-button (click)="requestHolidays()">
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
    -->
  </ion-buttons>
</app-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="requestHolidays()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngIf="holidays">
    <ion-card-header>
      <h3 text-center>Holidays Summary</h3>
      <br>
      <ion-avatar class="avatar">
        <img src="assets/images/login-avatar.png">
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <ion-item-group>
        <ion-item-divider style="margin-bottom: 10px">
          <h2>Total holidays</h2>
          <ion-badge slot="end"> {{holidays.total}} </ion-badge>
        </ion-item-divider>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider style="margin-bottom: 10px">
          <h2>Holidays not taken</h2>
          <ion-badge slot="end"> {{holidays.not_taken}} </ion-badge>
        </ion-item-divider>
      </ion-item-group>
      <!--
      <ion-item lines="none">
        <ion-icon slot="start" name="arrow-dropright"></ion-icon>
        <ion-label>Total holidays</ion-label>
        <ion-badge slot="end"> {{holidays.total}} </ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="arrow-dropright"></ion-icon>
        <ion-label>Holidays not taken</ion-label>
        <ion-badge slot="end"> {{holidays.not_taken}} </ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="arrow-dropright"></ion-icon>
        <ion-label>Holidays taken</ion-label>
        <ion-badge slot="end"> {{holidays.taken.days}} </ion-badge>
      </ion-item>
      -->
      <ion-item-group>
          <ion-item-divider>
              <h2>Holidays taken</h2>
              <ion-badge slot="end"> {{holidays.taken.days}} </ion-badge>
          </ion-item-divider>
          <ion-list>
          <div *ngFor="let key of Object.keys(infoHolidaysByType)">
            <ion-item lines="none" *ngIf="infoHolidaysByType[key].count !== 0">
              <ion-icon slot="start" name="arrow-dropright"></ion-icon>
              <ion-label> {{key}} </ion-label>
              <ion-badge slot="end" [ngStyle]="{'background': infoHolidaysByType[key].color.primary}"> {{infoHolidaysByType[key].count}} </ion-badge>
            </ion-item>
          </div>
        </ion-list>
        </ion-item-group>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <h3 text-center>Holidays Schedule</h3>
      <br>
  <ion-grid>
      <ion-row align-items-center>
          <ion-col size-md="4" size-xs="12" align-self-center>
        <div text-center>
          <ion-button size="small" shape="round" fill="outline">
            <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" [excludeDays]="excludeDays" (viewDateChange)="activeDayIsOpen = false">
              Prev
            </div>
          </ion-button>
          <ion-button size="small" shape="round" fill="outline">
            <div mwlCalendarToday [(viewDate)]="viewDate">
              Today
            </div>
          </ion-button>
          <ion-button size="small" shape="round" fill="outline">
            <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" [excludeDays]="excludeDays" (viewDateChange)="activeDayIsOpen = false">
              Next
            </div>
          </ion-button>
        </div>
      </ion-col>
      <ion-col size-md="4" size-xs="12" align-self-center>
        <h3 text-center>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </ion-col>
      <ion-col size-md="4" size-xs="12" align-self-center>
        <div text-center>
          <ion-button size="small" shape="round" fill="outline" (click)="view = CalendarView.Month" [class.active]="view === CalendarView.Month">
              Month
          </ion-button>
          <ion-button size="small" shape="round" fill="outline" (click)="view = CalendarView.Week" [class.active]="view === CalendarView.Week">
            Week
          </ion-button>
          <ion-button size="small" shape="round" fill="outline" (click)="view = CalendarView.Day" [class.active]="view === CalendarView.Day">
            Day
          </ion-button>
        </div>
    </ion-col>
    </ion-row>
    <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="eventsCalendar"
          [excludeDays]="excludeDays"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="eventsCalendar"
          [excludeDays]="excludeDays"
          (eventClicked)="handleEvent('Clicked', $event.event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="eventsCalendar"
          (eventClicked)="handleEvent('Clicked', $event.event)">
        </mwl-calendar-day-view>
      </div>
  </ion-grid>
</ion-card>
</ion-content>

<app-footer></app-footer>
