<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
        <ion-toolbar color="tertiary">
          <ion-item color="tertiary">
            <ion-avatar *ngIf="profilePicture === null || profilePicture === ''" slot="start">
              <img src="assets/images/login-avatar.png">
            </ion-avatar>
            <ion-avatar *ngIf="profilePicture !== null && profilePicture !== ''" slot="start">
              <img [src]="profilePicture">
            </ion-avatar>
            <ion-label class="ion-text-wrap">
              <h2> {{name}} </h2>
            </ion-label>
            <ion-icon *ngIf="name !== ''" tappable slot="end" color="light" name="create" (click)="editUserProfile()"></ion-icon>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">

            <ion-item-group *ngFor="let p of appPages">
                <ion-item-divider>
                  <ion-label>{{p.groupName}}</ion-label>
                </ion-item-divider>
                <ion-item tappable *ngFor="let i of p.groupItems" [routerLink]="[i.url]">
                    <!--<ion-item (click)="navigateByURL(p.url)">-->
                      <ion-icon slot="start" [name]="i.icon"></ion-icon>
                      <ion-label>
                        {{i.title}}
                      </ion-label>
                    </ion-item>
              </ion-item-group>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
