<app-header title="My Schedule">
  <ion-buttons buttons-start slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons buttons-end slot='end'>
    <ion-button (click)="showCalendar()">
        <ion-icon slot="icon-only" name="grid"></ion-icon>
    </ion-button>
    <ion-button (click)="addEvent()">
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content padding>

  <ion-toolbar color="secondary" *ngIf="!showCalendarFlag">
      <ion-segment [(ngModel)]="option" (ionChange)="segmentChanged($event)">
          <ion-segment-button fill="outline" value="previous">
            <ion-label>PREVIOUS</ion-label>
          </ion-segment-button>
          <ion-segment-button value="today">
            <ion-label>TODAY</ion-label>
          </ion-segment-button>
          <ion-segment-button value="upcoming">
            <ion-label>UPCOMING</ion-label>
          </ion-segment-button>
        </ion-segment>
  </ion-toolbar>

  <!-- Schedule list. -->
  <ion-list *ngIf="!showCalendarFlag">
      <ion-grid fixed>
        <ion-row *ngFor="let event of events; let i = index" align-items-stretch >
        <ion-col col-12 align-self-stretch align-self-center>
          <ion-card>
            <ion-item class="eventClass">
              <b>{{ event.title }}</b>
              <ion-icon name="arrow-dropright" slot="end" (click)="onClickMoreOptions(event)"></ion-icon>
            </ion-item>
              <ion-item lines="none">
                <span class="spanClass">YOUR NEXT EVENT</span>
              </ion-item>
              <ion-item lines="none">
                  <span class="timeClass">{{ event.time }}</span>
              </ion-item>
              <ion-item lines="none" class="spanClass">
                  <ion-icon name="calendar"></ion-icon><b>{{ event.date }}</b>
              </ion-item>
              <ion-card-content *ngIf="event.lat !== undefined && event.lat !== ''">
                  <agm-map [zoom]="13" [latitude]="event.lat" [longitude]="event.lng">
                      <agm-marker [latitude]="event.lat" [longitude]="event.lng"></agm-marker>
                  </agm-map>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-item class="eventClass">
                <b>Meeting Participants</b>
                <!--<ion-icon name="arrow-dropright" slot="end"></ion-icon>-->
              </ion-item>
              <ion-item *ngIf="participants.length != 0">
                <ion-row>
                  <ion-col size="avatarColSize" *ngFor="let participant of participants[i]">
                    <!--<ion-badge class="avatarBadge"><ion-icon name="calendar"></ion-icon></ion-badge>-->
                    <ion-avatar tappable>
                      <img [src]="participant.avatar">
                    </ion-avatar>
                  </ion-col>
                  <ion-col class="chipCol" size="chipColSize">
                    <ion-chip *ngIf="event.meeting_participants.length - participants[i].length !== 0" tappable color="tertiary" (click)="onClickShowPeople(event)">
                      <ion-label>+ {{event.meeting_participants.length - participants[i].length}} MORE</ion-label>
                    </ion-chip>
                  </ion-col>
                </ion-row>
              </ion-item>
              <ion-card-content>
              </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <!-- Schedule calendar. -->
  <app-angular-calendar *ngIf="showCalendarFlag" title="Schedule Calendar" [excludeDays]="excludeDays" [eventsCalendar]="eventsCalendar" (event)="handleEvent($event)"></app-angular-calendar>

</ion-content>

<app-footer></app-footer>
