<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>My Schedule</ion-title>
    <ion-buttons slot='end'>
      <ion-button (click)="addEvent()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-grid fixed>
          <ion-row *ngFor="let event of events; let i = index" align-items-stretch >
          <ion-col col-12 align-self-stretch align-self-center>
            <ion-card>
              <ion-item class="eventClass">
                <b>{{ event.title }}</b>
                <ion-icon name="arrow-dropright" slot="end" (click)="onClickMoreOptions()"></ion-icon>
              </ion-item>
                <ion-item lines="none">
                  <span class="spanClass">YOUR NEXT EVENT</span>
                </ion-item>
                <ion-item lines="none">
                    <span class="timeClass">{{ event.time }}</span>
                </ion-item>
                <ion-item lines="none" class="spanClass">
                    <ion-icon name="calendar"></ion-icon><b>{{ event.date }}</b>
                </ion-item>
                <ion-card-content>
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </ion-card-content>
              </ion-card>
              <ion-card>
                <ion-item class="eventClass">
                  <b>Meeting Participants</b>
                  <ion-icon name="arrow-dropright" slot="end"></ion-icon>
                </ion-item>
                <ion-item *ngIf="participants.length != 0">
                  <ion-row>
                    <ion-col size="avatarColSize" *ngFor="let participant of participants[i]">
                      <!--<ion-badge class="avatarBadge"><ion-icon name="calendar"></ion-icon></ion-badge>-->
                      <ion-avatar tappable>
                        <img [src]="participant.avatar">
                      </ion-avatar>
                    </ion-col>
                    <ion-col class="chipCol" size="chipColSize">
                      <ion-chip *ngIf="event.meeting_participants.length - participants[i].length !== 0" tappable color="tertiary" (click)="onClickShowPeople(event)">
                        <ion-label>+ {{event.meeting_participants.length - participants[i].length}} MORE</ion-label>
                      </ion-chip>
                    </ion-col>
                  </ion-row>
                </ion-item>
                <ion-card-content>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
      </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
      <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
      <ion-buttons slot="end">
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach%2Fangular-ionic-master-detail&amp;title=&amp;aria-label=Star%20abritopach%2Fangular-ionic-master-detail%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star" style="width: 50px; height: 20px; border: none; padding-right: 5px"></iframe></div>
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach&amp;title=&amp;aria-label=Follow%20%40abritopach%20on%20GitHub&amp;data-text=GitHub" style="width: 67px; height: 20px; border: none;"></iframe></div>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
