<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>
          People
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid *ngIf="people !== null">
        <ion-row>
            <ion-col size="2" *ngFor="let person of people">
              <ion-avatar [@scaleAvatar]="person.avatarState" (click)="onClickEmployee(person)" tappable>
                <img class="avatarImg" [src]="person.avatar">
              </ion-avatar>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
