<app-header title="Notes">
    <ion-buttons buttons-start slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons buttons-end slot='end'>
        <ion-button (click)="addNewNote()">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </app-header>

<ion-content padding>

   <!-- Notes List Grid view. -->
   <ion-grid>
      <ion-row>
        <ion-col align-self-center size-lg="4" size-md="6" size-xs="6" *ngFor="let note of notes">
          <ion-card tappable routerLink="/todo/{{ note.id }}">
              <ion-card-header>
                <ion-card-title>{{ note?.title }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                  <app-todo-list [todos]="note?.todos" [readOnly]="true"></app-todo-list>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>

<app-footer></app-footer>
