<app-header title="Notes">
    <ion-buttons buttons-start slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons buttons-end slot='end'>
        <ion-button (click)="presentPopover('optionsAllNotes')">
            <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
  </app-header>

<ion-content padding>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="addNewNote()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

   <!-- Notes List Grid view. -->
   <ion-grid>
      <ion-row>
        <ion-col align-self-center size-lg="4" size-md="6" size-xs="6" *ngFor="let note of notes">
          <ion-card>
              <!--
              <ion-item lines="none">
                <ion-button slot='end' (click)="presentPopover1()" fill="clear">
                    <ion-icon slot="icon-only" name="more"></ion-icon>
                </ion-button>
              </ion-item>
              -->
              <ion-item>
                <ion-label text-wrap>{{ note?.title }}</ion-label>
                <ion-button slot='end' (click)="presentPopover('optionsNote', note)" fill="clear">
                    <ion-icon slot="icon-only" name="more"></ion-icon>
                </ion-button>
              </ion-item>
              <!--
              <ion-card-header>
                <ion-card-title>{{ note?.title }}</ion-card-title>
              </ion-card-header>
              -->
              <ion-card-content tappable routerLink="/todo/{{ note.id }}">
                  <app-todo-list [todos]="note?.todos" [readOnly]="true"></app-todo-list>
              </ion-card-content>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>

<app-footer></app-footer>
