.error-message {
    color: var(--ion-color-danger);
}

.avatar {
    margin: auto;
    width:  128px;
    height: 128px;
}

.department {
    width: 48px;
    height: 48px;
}

ion-avatar {
	ion-button {
        position: absolute;
        right: 7.5rem;
	}
}
