<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            User Profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-avatar *ngIf="avatar !== null" class="avatar">
        <ion-button size="small" (click)="editAvatar()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <img [src]="avatar" onError="src='assets/images/login-avatar.png'">
      </ion-avatar>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="userProfileForm" novalidate (ngSubmit)="userProfileFormSubmit()">
        <ion-list inset>
          <ion-item [class.has-error]="userProfileForm.get('employee_name').hasError('required') && userProfileForm.get('employee_name').touched">
              <ion-label position="floating">Employee Name *</ion-label>
              <ion-input type="text" formControlName="employee_name"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userProfileForm.get('employee_name').hasError('required') && userProfileForm.get('employee_name').touched">
              <div class="error-message">
                  This field is required.
              </div>
          </ion-item>
          <ion-item [class.has-error]="userProfileForm.get('job_position').hasError('required') && userProfileForm.get('job_position').touched">
              <ion-label position="floating">Job Position *</ion-label>
              <ion-input type="text" formControlName="job_position"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userProfileForm.get('job_position').hasError('required') && userProfileForm.get('job_position').touched">
              <div class="error-message">
                  This field is required.
              </div>
          </ion-item>
          <ion-item [class.has-error]="userProfileForm.get('description').hasError('required') && userProfileForm.get('description').touched">
              <ion-label position="floating">Description</ion-label>
              <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
          <ion-item lines="none" *ngIf="userProfileForm.get('description').hasError('required') && userProfileForm.get('description').touched">
              <div class="error-message">
                  This field is required.
              </div>
          </ion-item>
          <ion-item [class.has-error]="userProfileForm.get('phone').hasError('required') && userProfileForm.get('phone').touched">
              <ion-label position="floating">Phone *</ion-label>
              <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="userProfileForm.get('phone').hasError('required') && userProfileForm.get('phone').touched">
              <div class="error-message">
                  This field is required.
              </div>
          </ion-item>
          <br>
          <ion-item lines="none">
              <ng-select [class.has-error]="userProfileForm.get('department').hasError('required') && userProfileForm.get('department').touched" [items]="departments"
                          bindLabel="name"
                          bindValue="name"
                          placeholder="Select"
                          formControlName="department"
                          appendTo="body">
                  <ng-template ng-label-tmp let-item="item">
                      <img class="department" [src]="item.icon"/>
                      <b>{{item.name}}</b>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                      <img class="department" [src]="item.icon"/>
                      <b> {{item.name}}</b>
                  </ng-template>
              </ng-select>
          </ion-item>
          <ion-item lines="none" *ngIf="userProfileForm.get('department').hasError('required') && userProfileForm.get('department').touched">
              <div class="error-message">
                  This field is required.
              </div>
          </ion-item>
          <ion-item style="display:none">
              <ion-label position="floating">Avatar</ion-label>
              <ion-input #file type="file" formControlName="avatar" accept="image/*" (change)="handleInputChange($event)"></ion-input>
          </ion-item>
        </ion-list>
        <ion-row no-padding justify-content-center>
            <ion-col col-auto text-right>
                <ion-button [disabled]='!userProfileForm.valid' type="submit" fill="clear" size="small" color="primary">
                <ion-icon name='send' slot="start"></ion-icon>
                Update
                </ion-button>
            </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
