<div class="content">
    <figure class="org-chart cf">
      <ul class="administration">
        <li>
          <ul class="director">
            <li>
              <a href="#">
                <div>
                  <img [src]="organization.employee_avatar"/>
                  <span>{{ organization.employee_position }}</span>
                </div>
              </a>
              <ul class="subdirector">
                <li>
                  <a href="#">
                    <div>
                      <img [src]="organization.children[0].employee_avatar"/>
                      <span>{{ organization.children[0].employee_position }}</span>
                    </div>
                  </a>
                </li>
              </ul>
              <ul class="departments cf">
                <li>
                  <a href="#">
                    <div>
                      <img [src]="organization.children[1].employee_avatar"/>
                      <span>{{ organization.children[1].employee_position }}</span>
                    </div>
                  </a>
                </li>
                <li *ngFor="let department of organization.departments" class="department" [ngClass]="department.class">
                    <a href="#">
                      <div>
                        <img [src]="department.avatar"/>
                        <span>{{ department.name }}</span>
                      </div>
                    </a>
                    <ul class="sections">
                      <li *ngFor="let employee of department.children" class="section">
                        <a href="#">
                          <div>
                            <img [src]="employee.employee_avatar"/>
                            <span> {{employee.employee_position}} </span>
                          </div>
                        </a>
                      </li>
                    </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </figure>
  </div>
