<div class="content">
    <figure class="org-chart cf">
      <ul class="administration">
        <li>
          <ul class="director">
            <li>
              <a href="#">
                <div>
                  <img src="http://i.pravatar.cc/150?img=7"/>
                  <span>Director</span>
                </div>
              </a>
              <ul class="subdirector">
                <li>
                  <a href="#">
                    <div>
                      <img src="http://i.pravatar.cc/150?img=1"/>
                      <span>Assistante Director</span>
                    </div>
                  </a>
                </li>
              </ul>
              <ul class="departments cf">
                <li>
                  <a href="#">
                    <div>
                      <img src="http://i.pravatar.cc/150?img=2"/>
                      <span>Administration</span>
                    </div>
                  </a>
                </li>
                <li class="department dep-a">
                  <a href="#"><span>Department A</span></a>
                  <ul class="sections">
                    <li class="section">
                      <a href="#">
                        <div>
                          <img src="http://i.pravatar.cc/150?img=3"/>
                          <span>Section A1</span>
                        </div>
                      </a>
                    </li>
                    <li class="section">
                      <a href="#">
                        <div>
                          <img src="http://i.pravatar.cc/150?img=4"/>
                          <span>Section A2</span>
                          </div>
                      </a>
                    </li>
                    <li class="section">
                      <a href="#">
                        <div>
                            <img src="http://i.pravatar.cc/150?img=5"/>
                            <span>Section A3</span>
                        </div>
                      </a>
                    </li>
                    <li class="section">
                      <a href="#">
                        <div>
                          <img src="http://i.pravatar.cc/150?img=8"/>
                          <span>Section A4</span>
                        </div>
                      </a>
                    </li>
                    <li class="section">
                      <a href="#">
                        <div>
                          <img src="http://i.pravatar.cc/150?img=9"/>
                          <span>Section A5</span>
                          </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="department dep-b">
                  <a href="#"><span>Department B</span></a>
                  <ul class="sections">
                      <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=10"/>
                              <span>Section B1</span>
                            </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=11"/>
                              <span>Section B2</span>
                              </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                                <img src="http://i.pravatar.cc/150?img=12"/>
                                <span>Section B3</span>
                            </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=13"/>
                              <span>Section B4</span>
                            </div>
                          </a>
                        </li>
                  </ul>
                </li>
                <li class="department dep-c">
                  <a href="#"><span>Department C</span></a>
                  <ul class="sections">
                      <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=14"/>
                              <span>Section C1</span>
                            </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=15"/>
                              <span>Section C2</span>
                              </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                                <img src="http://i.pravatar.cc/150?img=16"/>
                                <span>Section C3</span>
                            </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=17"/>
                              <span>Section C4</span>
                            </div>
                          </a>
                        </li>
                  </ul>
                </li>
                <li class="department dep-d">
                  <a href="#"><span>Department D</span></a>
                  <ul class="sections">
                      <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=18"/>
                              <span>Section D1</span>
                            </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=19"/>
                              <span>Section D2</span>
                              </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                                <img src="http://i.pravatar.cc/150?img=20"/>
                                <span>Section D3</span>
                            </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=21"/>
                              <span>Section D4</span>
                            </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=22"/>
                              <span>Section D5</span>
                              </div>
                          </a>
                        </li>
                        <li class="section">
                            <a href="#">
                              <div>
                                <img src="http://i.pravatar.cc/150?img=23"/>
                                <span>Section D6</span>
                                </div>
                            </a>
                          </li>
                  </ul>
                </li>
                <li class="department dep-e">
                  <a href="#"><span>Department E</span></a>
                  <ul class="sections">
                      <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=24"/>
                              <span>Section E1</span>
                            </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                              <img src="http://i.pravatar.cc/150?img=25"/>
                              <span>Section E2</span>
                              </div>
                          </a>
                        </li>
                        <li class="section">
                          <a href="#">
                            <div>
                                <img src="http://i.pravatar.cc/150?img=26"/>
                                <span>Section E3</span>
                            </div>
                          </a>
                        </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </figure>
  </div>
