<app-header title="Products">
    <ion-buttons buttons-start slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
</app-header>

<ion-content padding>
    <ion-card class="product" *ngFor="let product of stitchMongoService.fakeProducts">
        <ion-img [src]="product.image" (ionError)="loadDefaultImg($event)"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>{{product.company}}</ion-card-subtitle>
            <ion-card-title>{{product.product_name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{product.description}}
        </ion-card-content>
        <ion-item href="#" class="activated">
            <ion-icon name="link" slot="start"></ion-icon>
            <ion-label>Webpage</ion-label>
        </ion-item>
    </ion-card>
</ion-content>
