<app-header title="Products">
    <ion-buttons buttons-start slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
</app-header>

<ion-content padding>
    <ion-card class="product">
        <ion-img src="https://marketplace-cdn.atlassian.com/files/images/e985b232-8f32-42a3-867b-39432debf22f.png"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Atlassian</ion-card-subtitle>
            <ion-card-title>Bitbucket</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Bitbucket is more than just Git code management. Bitbucket gives teams one place to plan projects, collaborate on code, test, and deploy.
        </ion-card-content>
        <ion-item href="#" class="activated">
            <ion-icon name="link" slot="start"></ion-icon>
            <ion-label>Webpage</ion-label>
        </ion-item>
    </ion-card>
    <ion-card class="product">
        <ion-img src="https://cdn-images-1.medium.com/max/1600/1*_St3BrB36V05JAuFIC3utQ.png"></ion-img>
        <ion-card-header>
            <ion-card-subtitle>Microsoft Corporation</ion-card-subtitle>
            <ion-card-title>GitHub</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 31 million developers.
        </ion-card-content>
        <ion-item href="#" class="activated">
            <ion-icon name="link" slot="start"></ion-icon>
            <ion-label>Webpage</ion-label>
        </ion-item>
    </ion-card>
</ion-content>
