<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
              <ion-icon name="close" color="light"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
          {{modalTitle}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="reminderForm" novalidate (ngSubmit)="reminderFormSubmit()">
    <ion-list inset>
        <ion-item lines="none">
          <ion-checkbox [checked]="showHourItems" formControlName="hourCheckbox"
          (ionChange)="ionChangeHour($event)" color="primary"></ion-checkbox>
          <ion-label class="checkboxLabel">Hour</ion-label>
          <ion-checkbox [checked]="showLocationItems" formControlName="locationCheckbox"
          (ionChange)="ionChangeLocation($event)" color="primary"></ion-checkbox>
          <ion-label class="checkboxLabel">Location</ion-label>
        </ion-item>
        <div *ngIf="showHourItems">
          <ion-item lines="none">
              <ion-label position="floating">Date</ion-label>
              <ion-select #date formControlName="date" interface="popover" (ionChange)="selectedDate(date.value)">
                  <ion-select-option [disabled]="hour.value === 'tomorrow'" [value]="dateOptions.today">Today</ion-select-option>
                  <ion-select-option [value]="dateOptions.tomorrow">Tomorrow</ion-select-option>
                  <ion-select-option [value]="dateOptions.nextMonday">Next monday</ion-select-option>
                  <ion-select-option value="selectDate">Select date...</ion-select-option>
              </ion-select>
              <ion-datetime [hidden]="hiddenCustomDate" #datePicker displayFormat="MM/DD/YYYY" [min]="currentYear" formControlName="customDate" (ionChange)="changeCustomDate($event)"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating">Hour</ion-label>
              <ion-select #hour formControlName="hour" interface="popover" (ionChange)="selectedHour(hour.value)">
                  <ion-select-option [disabled]="date.value === dateOptions.today" value="tomorrow">Tomorrow (8:00)</ion-select-option>
                  <ion-select-option value="atMidday">At midday (13:00)</ion-select-option>
                  <ion-select-option value="afternoon">Afternoon (18:00)</ion-select-option>
                  <ion-select-option value="night">Night (20:00)</ion-select-option>
                  <ion-select-option value="selectHour">Select hour...</ion-select-option>
              </ion-select>
              <ion-datetime [hidden]="hiddenCustomHour" #hourPicker displayFormat="h:mm a" formControlName="customHour" (ionChange)="changeCustomHour($event)"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating">Frequency</ion-label>
              <ion-select #frequency formControlName="frequency" interface="popover" (ionChange)="selectedFrequency(frequency.value)">
                  <ion-select-option value="noRepetition">No repetition</ion-select-option>
                  <ion-select-option value="daily">Daily</ion-select-option>
                  <ion-select-option value="weekly">Weekly</ion-select-option>
                  <ion-select-option value="monthly">Monthly</ion-select-option>
                  <ion-select-option value="annually">Annually</ion-select-option>
                  <ion-select-option value="customize">Customize...</ion-select-option>
              </ion-select>
            </ion-item>
        </div>
        <div [hidden]="!showLocationItems">
            <ion-item lines="none">
                <ion-label position="floating">Location</ion-label>
                <!--<ion-input type="text" formControlName="location"></ion-input>-->
                <input id="location" #location type="text" formControlName="location">
                <ion-button fill="clear" size="small" (click)="locate()">Current location</ion-button>
                <!-- Need to use google. -->
                <agm-map></agm-map>
            </ion-item>
        </div>
    </ion-list>
    <ion-row no-padding justify-content-center>
        <ion-col col-auto text-right>
            <ion-button fill="clear" size="small" color="danger">
                Cancel
              </ion-button>
            <ion-button [disabled]='!reminderForm.valid' type="submit" size="small" color="primary">
              Save
            </ion-button>
        </ion-col>
    </ion-row>
  </form>
</ion-content>
