<ion-header>
  <ion-toolbar color="tertiary">
      <ion-buttons slot="end">
          <ion-button (click)="dismiss()">
              <ion-icon name="close" color="light"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
          {{modalTitle}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="reminderForm" novalidate (ngSubmit)="reminderFormSubmit()">
    <ion-list inset>
        <ion-item lines="none">
          <ion-checkbox [checked]="showHourItems" formControlName="hourCheckbox"
          (ionChange)="ionChangeHour($event)" color="primary"></ion-checkbox>
          <ion-label class="checkboxLabel">Hour</ion-label>
          <ion-checkbox [checked]="showLocationItems" formControlName="locationCheckbox"
          (ionChange)="ionChangeLocation($event)" color="primary"></ion-checkbox>
          <ion-label class="checkboxLabel">Location</ion-label>
        </ion-item>
        <div *ngIf="showHourItems">
          <ion-item lines="none" [class.has-error]="reminderForm.get('date').hasError('required') && reminderForm.get('date').touched">
            <ion-label position="floating">Date</ion-label>
            <ion-select #date formControlName="date" interface="popover" (ionChange)="selectedDate(date.value)">
                <ion-select-option [disabled]="hour.value === 'tomorrow'" [value]="dateOptions.today.text">Today</ion-select-option>
                <ion-select-option [value]="dateOptions.tomorrow.text">Tomorrow</ion-select-option>
                <ion-select-option [value]="dateOptions.nextMonday.text">Next monday</ion-select-option>
                <ion-select-option [value]="dateOptions.selectDate.text"> {{dateOptions.selectDate.text}} </ion-select-option>
            </ion-select>
            <ion-datetime [hidden]="true" #datePicker displayFormat="MM/DD/YYYY" [min]="currentYear" formControlName="customDate" (ionChange)="changeCustomDate($event)"></ion-datetime>
          </ion-item>
          <ion-item lines="none" *ngIf="reminderForm.get('date').hasError('required') && reminderForm.get('date').touched">
            <div class="error-message">
                This field is required.
            </div>
          </ion-item>
          <ion-item lines="none" [class.has-error]="reminderForm.get('hour').hasError('required') && reminderForm.get('hour').touched">
            <ion-label position="floating">Hour</ion-label>
            <ion-select #hour formControlName="hour" interface="popover" (ionChange)="selectedHour(hour.value)">
                <ion-select-option [disabled]="date.value === dateOptions.today" [value]="hourOptions.tomorrow.text">Tomorrow (8:00)</ion-select-option>
                <ion-select-option [value]="hourOptions.midday.text">At midday (13:00)</ion-select-option>
                <ion-select-option [value]="hourOptions.afternoon.text">Afternoon (18:00)</ion-select-option>
                <ion-select-option [value]="hourOptions.night.text">Night (20:00)</ion-select-option>
                <ion-select-option [value]="hourOptions.selectHour.text"> {{hourOptions.selectHour.text}} </ion-select-option>
            </ion-select>
            <ion-datetime [hidden]="true" #hourPicker displayFormat="h:mm a" formControlName="customHour" (ionChange)="changeCustomHour($event)"></ion-datetime>
          </ion-item>
          <ion-item lines="none" *ngIf="reminderForm.get('hour').hasError('required') && reminderForm.get('hour').touched">
            <div class="error-message">
                This field is required.
            </div>
          </ion-item>
          <ion-item lines="none" [class.has-error]="reminderForm.get('frequency').hasError('required') && reminderForm.get('frequency').touched">
            <ion-label position="floating">Frequency</ion-label>
            <ion-select #frequency formControlName="frequency" interface="popover" (ionChange)="selectedFrequency(frequency.value)">
                <ion-select-option [value]="frequencyOptions.noRepetition.text">No repetition</ion-select-option>
                <ion-select-option [value]="frequencyOptions.daily.text">Daily</ion-select-option>
                <ion-select-option [value]="frequencyOptions.weekly.text">Weekly</ion-select-option>
                <ion-select-option [value]="frequencyOptions.monthly.text">Monthly</ion-select-option>
                <ion-select-option [value]="frequencyOptions.annually.text">Annually</ion-select-option>
                <ion-select-option [value]="frequencyOptions.customize.text"> {{frequencyOptions.customize.text}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" *ngIf="reminderForm.get('frequency').hasError('required') && reminderForm.get('frequency').touched">
            <div class="error-message">
                This field is required.
            </div>
          </ion-item>
        </div>
        <div [hidden]="!showLocationItems">
            <ion-item lines="none">
                <ion-label position="floating">Location</ion-label>
                <!--<ion-input type="text" formControlName="location"></ion-input>-->
                <input id="location" #location type="text" formControlName="location">
                <ion-button fill="clear" size="small" (click)="locate()">Current location</ion-button>
                <!-- Need to use google. -->
                <agm-map></agm-map>
            </ion-item>
        </div>
    </ion-list>
    <ion-row no-padding justify-content-center>
        <ion-col col-auto text-right>
            <ion-button [disabled]='!reminderForm.valid' type="submit" size="small" color="primary">
              Save
            </ion-button>
        </ion-col>
    </ion-row>
  </form>
</ion-content>
