<!--
<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Employee Detail</ion-title>
  </ion-toolbar>
</ion-header>
-->

<app-header title="Employee Detail">
  <ion-buttons buttons-start slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
</app-header>

<ion-content padding>
  <ion-list>
    <ion-grid fixed>
      <ion-row align-items-stretch>
      <ion-col col-12 align-self-stretch align-self-center>
        <ion-card *ngIf="employee !== null">
            <ion-item lines="none">
              <h2><b>{{ employee.employee_name }}</b></h2>
            </ion-item>
            <ion-item>
              <!--
              <ion-chip color="primary" slot="start">
                  <ion-label>{{ employee.department }}</ion-label>
              </ion-chip>
              -->
              <ion-chip color="tertiary" slot="end">
                <ion-label class="labelJobPosition">{{ employee.job_position }}</ion-label>
              </ion-chip>
            </ion-item>
            <ion-item class="image">
                <img [src]="employee.avatar" alt="Employee Image Detail Page" class="avatarImg">
            </ion-item>
            <ion-card-content>
              <ion-item>
                <p><ion-icon name="information-circle-outline"></ion-icon> {{ employee.description}}</p>
                <ion-badge tappable (click)="presentModal()" slot="end" color="primary"><ion-icon name="eye"></ion-icon> {{ employee.projects.length}} Projects</ion-badge>
              </ion-item>
              <!--
              <ion-item tappable (click)="presentModal()">
                <ion-badge slot="start" color="primary"><ion-icon name="eye"></ion-icon> {{ employee.projects.length}} Projects</ion-badge>
              </ion-item>
              -->
            </ion-card-content>
            <ion-item href="#" class="activated">
              <ion-icon color="tertiary" name="pie" slot="start"></ion-icon>
              <ion-label>View in Org Chart</ion-label>
            </ion-item>
            <ion-item href="#">
              <ion-icon color="tertiary" name="people" slot="start"></ion-icon>
              <ion-label>Add to my Team</ion-label>
            </ion-item>
            <ion-item tappable (click)="addToFavorites(employee)">
              <ion-icon color="tertiary" name="star" slot="start"></ion-icon>
              <ion-label>Add to Favorites</ion-label>
            </ion-item>
            <br/>
            <ion-item-divider color="primary">
              <ion-label>
                Manager
              </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-avatar slot="start">
                <img src="assets/images/login-avatar.png" alt="Avatar" />
              </ion-avatar>
              <ion-label>
                <h2>Luis Pérez</h2>
                <h3>CEO</h3>
              </ion-label>
            </ion-item>
            <ion-item-divider color="primary">
                <ion-label>
                  Contact
                </ion-label>
              </ion-item-divider>
            <ion-row justify-content-center>
              <ion-col col-auto text-center>
                <ion-button fill="clear" size="small" color="primary" (click)="onClickEmail(employee)">
                  <ion-icon name="mail" slot="start"></ion-icon>
                  Email
                </ion-button>
              </ion-col>
              <ion-col col-auto text-center>
                <ion-button fill="clear" size="small" color="primary" (click)="onClickCall(employee)">
                  <ion-icon name='call' slot="start"></ion-icon>
                  Call
                </ion-button>
              </ion-col>
              <ion-col col-auto text-center>
                <ion-button fill="clear" size="small" color="primary" (click)="onClickMessage()">
                  <ion-icon name='chatbubbles' slot="start"></ion-icon>
                  message
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
  </ion-list>
  <app-employees-per-department *ngIf="employee !== null" [employee]="employee"></app-employees-per-department>
</ion-content>

<app-footer></app-footer>
