<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Employee Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid fixed>
      <ion-row align-items-stretch>
      <ion-col col-12 align-self-stretch align-self-center>
        <ion-card *ngIf="employee !== null">
            <ion-item lines="none">
              <h2><b>{{ employee.employee_name }}</b></h2>
            </ion-item>
            <ion-item>
              <!--
              <ion-chip color="primary" slot="start">
                  <ion-label>{{ employee.department }}</ion-label>
              </ion-chip>
              -->
              <ion-chip color="tertiary" slot="end">
                <ion-label>{{ employee.job_position }}</ion-label>
              </ion-chip>
            </ion-item>
            <ion-item class="image">
                <img [src]="employee.avatar" alt="Employee Image Detail Page">
            </ion-item>
            <ion-card-content>
              <ion-item>
                <p><ion-icon name="information-circle-outline"></ion-icon> {{ employee.description}}</p>
              </ion-item>
              <ion-item tappable (click)="presentModal()">
                <ion-badge slot="start" color="primary"><ion-icon name="eye"></ion-icon> Projects {{ employee.projects.length}}</ion-badge>
              </ion-item>
            </ion-card-content>
            <ion-row no-padding justify-content-center>
                <ion-col col-auto text-left>
                  <ion-button fill="clear" size="small" color="primary" (click)="onClickEmail(employee)">
                    <ion-icon name="mail" slot="start"></ion-icon>
                    Email
                  </ion-button>
                </ion-col>
                <ion-col col-auto text-right>
                    <ion-button fill="clear" size="small" color="primary" (click)="onClickCall(employee)">
                      <ion-icon name='call' slot="start"></ion-icon>
                      Call
                    </ion-button>
                </ion-col>
                <ion-col col-auto text-center>
                    <ion-button fill="clear" size="small" color="primary" (click)="onClickMessage()">
                      <ion-icon name='chatbubbles' slot="start"></ion-icon>
                      message
                    </ion-button>
                </ion-col>
              </ion-row>
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
  </ion-list>
  <app-employees-per-department *ngIf="employee !== null" [department]="employee.department"></app-employees-per-department>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
      <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
      <ion-buttons slot="end">
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach%2Fangular-ionic-master-detail&amp;title=&amp;aria-label=Star%20abritopach%2Fangular-ionic-master-detail%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star" style="width: 50px; height: 20px; border: none; padding-right: 5px"></iframe></div>
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach&amp;title=&amp;aria-label=Follow%20%40abritopach%20on%20GitHub&amp;data-text=GitHub" style="width: 67px; height: 20px; border: none;"></iframe></div>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
