
<ion-item>
  <h2>In the same department...</h2>
</ion-item>
<ion-list *ngIf="employees !== null">
    <ion-item *ngFor="let employee of employees" tappable routerLink="/detail/{{ employee.employee_name }}">
      <ion-avatar slot="start">
        <img [src]="employee.avatar" alt="Avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ employee.employee_name }}</h2>
        <h3>{{ employee.job_position }}</h3>
        <p>{{ employee.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
