<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="end">
            <ion-button (click)="showAllRequests = !showAllRequests">
                <ion-icon name="list" color="light"></ion-icon>
            </ion-button>
            <ion-button (click)="dismiss()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div *ngIf="holidays !== null && showAllRequests === false">
  <ion-list-header>
      <ion-label>
        <ion-text color="danger">
          <h2><b>Rejected Time Off</b></h2>
        </ion-text>
      </ion-label>
    </ion-list-header>
    <ion-card>
      <ion-item lines="none" *ngFor="let request of rejectedRequests">
        <ion-thumbnail slot="start">
          <img src="assets/images/rejected.png">
        </ion-thumbnail>
        <ion-label text-wrap>
            <h2><b> {{request.startDate | date:'fullDate'}} </b></h2>
            <p><b> {{request.countDays}}  days <span *ngIf="request.reason !== ''">( {{request.reason}} )</span></b></p>
            <p><b> {{request.status.toUpperCase()}} ( {{request.managerComment}} ) </b></p>
        </ion-label>
        <ion-icon tappable name="more" slot="end" (click)="onClickMoreOptions(request)"></ion-icon>
      </ion-item>
    </ion-card>
    <br/>
    <ion-list-header>
      <ion-label>
        <ion-text color="warning">
          <h2><b>Pending Time Off</b></h2>
        </ion-text>
      </ion-label>
    </ion-list-header>
    <ion-card>
      <ion-item lines="none" *ngFor="let request of pendingRequests">
        <ion-thumbnail slot="start">
          <img src="assets/images/pending.png">
        </ion-thumbnail>
        <ion-label text-wrap>
            <h2><b> {{request.startDate | date:'fullDate'}} </b></h2>
            <p><b> {{request.countDays}}  days <span *ngIf="request.reason !== ''">( {{request.reason}} )</span></b></p>
            <p><b> {{request.status.toUpperCase()}} </b></p>
        </ion-label>
        <ion-icon tappable name="more" slot="end" (click)="onClickMoreOptions(request)"></ion-icon>
      </ion-item>
    </ion-card>
    <br/>
    <ion-list-header>
        <ion-label>
          <ion-text color="primary">
              <h2><b>Upcoming Time Off</b></h2>
          </ion-text>
        </ion-label>
      </ion-list-header>
      <ion-card>
        <ion-item lines="none" *ngFor="let request of approvedRequests">
          <ion-thumbnail slot="start">
            <img src="assets/images/approved.png">
          </ion-thumbnail>
          <ion-label text-wrap>
              <h2><b>{{request.startDate | date:'fullDate'}}</b></h2>
              <p><b> {{request.countDays}}  days <span *ngIf="request.reason !== ''">( {{request.reason}} ) </span></b></p>
              <p><b> {{request.status.toUpperCase()}} </b></p>
          </ion-label>
          <ion-icon tappable name="more" slot="end" (click)="onClickMoreOptions(request)"></ion-icon>
        </ion-item>
      </ion-card>
  </div>
  <div *ngIf="requests !== null && requests.length !== 0">
      <ion-list-header>
          <ion-label>
            <ion-text color="danger">
              <h2><b>Pending Time Off Requests</b></h2>
            </ion-text>
          </ion-label>
        </ion-list-header>
        <ion-card>
          <ion-item lines="none" *ngFor="let request of requests">
            <ion-thumbnail slot="start">
              <img *ngIf="avatars !== null" [src]="request.avatar">
            </ion-thumbnail>
            <ion-label text-wrap>
                <h2><b> {{request.holidaysDetail.startDate | date:'fullDate'}} </b></h2>
                <p><b> {{request.holidaysDetail.countDays}}  days <span *ngIf="request.reason !== ''">( {{request.holidaysDetail.reason}} )</span></b></p>
                <p><b> {{request.holidaysDetail.status.toUpperCase()}} </b></p>
            </ion-label>
            <ion-icon tappable name="create" slot="end" (click)="onClickEditRequest(request)"></ion-icon>
          </ion-item>
        </ion-card>
  </div>
  <div *ngIf="showAllRequests">
  <ion-list-header>
      <ion-label>
        <ion-text>
          <h2><b>All requests</b></h2>
        </ion-text>
      </ion-label>
    </ion-list-header>
    <ion-card>
      <ion-item lines="none" *ngFor="let holiday of holidays.taken.info">
        <ion-thumbnail slot="start">
          <img *ngIf="holiday.status === 'rejected'" src="assets/images/rejected.png">
          <img *ngIf="holiday.status === 'approved'" src="assets/images/approved.png">
          <img *ngIf="holiday.status === 'pending'" src="assets/images/pending.png">
        </ion-thumbnail>
        <ion-label text-wrap>
            <h2><b> {{holiday.startDate | date:'fullDate'}} </b></h2>
            <p><b> {{holiday.countDays}}  days <span *ngIf="holiday.reason !== ''">( {{holiday.reason}} )</span></b></p>
            <p><b> {{holiday.status.toUpperCase()}} ( {{holiday.managerComment}} ) </b></p>
        </ion-label>
        <ion-icon tappable name="more" slot="end" (click)="onClickMoreOptions(holiday)"></ion-icon>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
