<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Request holidays history
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list-header>
    <ion-label>
      <ion-text color="danger">
        <h2><b>Pending Time Off</b></h2>
      </ion-text>
    </ion-label>
  </ion-list-header>
  <ion-card>
    <ion-item lines="none" *ngFor="let request of pendingRequests">
      <ion-thumbnail slot="start">
        <img src="assets/images/pending.png">
      </ion-thumbnail>
      <ion-label text-wrap>
          <h2><b> {{request.startDate | date:'fullDate'}} </b></h2>
          <p><b> {{request.countDays}}  days <span *ngIf="request.reason !== ''">( {{request.reason}} )</span></b></p>
          <p><b> {{request.status.toUpperCase()}} </b></p>
      </ion-label>
      <ion-icon tappable name="more" slot="end" (click)="updateHolidays()"></ion-icon>
    </ion-item>
  </ion-card>
  <br/>
  <ion-list-header>
      <ion-label>
        <ion-text color="primary">
            <h2><b>Upcoming Time Off</b></h2>
        </ion-text>
      </ion-label>
    </ion-list-header>
    <ion-card>
      <ion-item lines="none" *ngFor="let request of approvedRequests">
        <ion-thumbnail slot="start">
          <img src="assets/images/approved.png">
        </ion-thumbnail>
        <ion-label text-wrap>
            <h2><b>{{request.startDate | date:'fullDate'}}</b></h2>
            <p><b> {{request.countDays}}  days <span *ngIf="request.reason !== ''">( {{request.reason}} ) </span></b></p>
            <p><b> {{request.status.toUpperCase()}} </b></p>
        </ion-label>
        <ion-icon tappable name="more" slot="end" (click)="updateHolidays()"></ion-icon>
      </ion-item>
    </ion-card>
</ion-content>
