<!--
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Organization</ion-title>
  </ion-toolbar>
</ion-header>
-->

<app-header title="Organization">
  <ion-buttons buttons-start slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons buttons-end slot='end'>
    <ion-button (click)="presentModal()">
      <ion-icon slot="icon-only" name="pie-chart"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content class="ion-padding">
    <app-organization-chart></app-organization-chart>
</ion-content>

<app-footer></app-footer>
