<!--
<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Employee List
    </ion-title>
    <ion-buttons slot='end'>
        <ion-button *ngIf="!authenticationService.isAuthenticated()" routerLink="/login">
          <ion-icon slot="icon-only" name="log-in"></ion-icon>
        </ion-button>
        <ion-button  *ngIf="authenticationService.isAuthenticated()" (click)="logout()">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

<app-header title="Employee List">
  <ion-buttons buttons-start slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons buttons-end slot='end'>
    <ion-button *ngIf="!authenticationService.isAuthenticated()" routerLink="/login">
      <ion-icon slot="icon-only" name="log-in"></ion-icon>
    </ion-button>
    <ion-button  *ngIf="authenticationService.isAuthenticated()" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-header>

<ion-content class="ion-padding">

  <ion-toolbar>
    <ion-searchbar [formControl]="searchControl" animated="true" show-cancel-button (ionInput)="searchEmployees($event)" (ionCancel)="cancelSearch($event)" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

  <!--<p *ngIf="!authGuard.canActivate()" class="note"><b>NOTE: Login to be able to use all the functionality.</b></p>-->
  <ion-list>
    <ion-item-group *ngFor="let item of result">
      <ion-item-divider color="light">{{item._id}}</ion-item-divider>
      <ion-item *ngFor="let employee of item.employees" tappable routerLink="/detail/{{ employee.employee_name }}">
        <ion-avatar slot="start">
          <img [src]="employee.avatar" onError="src='assets/images/login-avatar.png'" alt="Avatar" />
        </ion-avatar>
        <ion-label>
          <h2>{{ employee.employee_name }}</h2>
          <h3>{{ employee.job_position }}</h3>
          <p>{{ employee.description }}</p>
        </ion-label>
        <ion-badge slot="end" color="primary">{{ employee.department }}</ion-badge>
      </ion-item>
    </ion-item-group>
    <!--<ion-item *ngFor="let employee of employees" tappable (click)="viewEmployeeDetails(employee)">-->
    <!--
    <ion-item *ngFor="let employee of employees" tappable routerLink="/detail/{{ employee.employee_name }}">
      <ion-avatar slot="start">
        <img [src]="employee.avatar" alt="Avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ employee.employee_name }}</h2>
        <h3>{{ employee.job_position }}</h3>
        <p>{{ employee.description }}</p>
      </ion-label>
      <ion-badge slot="end" color="primary">{{ employee.department }}</ion-badge>
    </ion-item>
    -->
  </ion-list>
  <st-3D-card-carousel *ngIf="slides.length !== 0" [slides]="slides" [autoloop]="autoloop" [distance]="slideDistance" (selectedItem)="handleSelectedItem($event)"
  (slideChange)="handleSlideChange($event)"></st-3D-card-carousel>
  <ion-item lines="none">
      <ion-button fill="clear" size="small" color="primary" (click)="loadMoreSlides()">
          <ion-icon name='add-circle-outline' slot="start"></ion-icon>
          Load more slides
        </ion-button>
  </ion-item>
</ion-content>

<app-footer></app-footer>
