<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Add event
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="eventForm" novalidate (ngSubmit)="eventFormSubmit()">
        <ion-list inset>
            <ion-item-divider lines="none" color="light">Event info</ion-item-divider>
            <ion-item [class.has-error]="eventForm.get('title').hasError('required') && eventForm.get('title').touched">
                <ion-label position="floating">Title *</ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>
            <ion-item lines="none" *ngIf="eventForm.get('title').hasError('required') && eventForm.get('title').touched">
                <div class="error-message">
                    This field is required.
                </div>
            </ion-item>
            <br>
            <ion-item-divider lines="none" color="light">Date / Time</ion-item-divider>
            <ion-item [class.has-error]="eventForm.get('date').hasError('required') && eventForm.get('date').touched">
                <ion-label position="floating">Date *</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" [min]="currentYear" formControlName="date"></ion-datetime>
            </ion-item>
            <ion-item lines="none" *ngIf="eventForm.get('date').hasError('required') && eventForm.get('date').touched">
                <div class="error-message">
                    This field is required.
                </div>
            </ion-item>
            <br>
            <ion-item [class.has-error]="eventForm.get('fromTime').hasError('required') && eventForm.get('fromTime').touched">
                <ion-label position="floating">From *</ion-label>
                <ion-datetime displayFormat="h:mm a" formControlName="fromTime"></ion-datetime>
            </ion-item>
            <ion-item lines="none" *ngIf="eventForm.get('fromTime').hasError('required') && eventForm.get('fromTime').touched">
                <div class="error-message">
                    This field is required.
                </div>
            </ion-item>
            <ion-item [class.has-error]="eventForm.get('untilTime').hasError('required') && eventForm.get('untilTime').touched">
                <ion-label position="floating">Until *</ion-label>
                <ion-datetime displayFormat="h:mm a" formControlName="untilTime"></ion-datetime>
            </ion-item>
            <ion-item lines="none" *ngIf="eventForm.get('untilTime').hasError('required') && eventForm.get('untilTime').touched">
                <div class="error-message">
                    This field is required.
                </div>
            </ion-item>
            <br>
            <ion-item-divider lines="none" color="light">Meeting participants</ion-item-divider>
            <br>
            <ion-item lines="none">
                <ng-select [class.has-error]="eventForm.get('participants').hasError('required') && eventForm.get('participants').touched" [multiple]="true" [items]="employees"
                            bindLabel="employee_name"
                            bindValue="avatar"
                            placeholder="Select"
                            formControlName="participants"
                            appendTo="body">
                    <ng-template ng-label-tmp let-item="item">
                        <img height="48" width="48" [src]="item.avatar"/>
                        <b>{{item.employee_name}}</b>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">
                        <img height="48" width="48" [src]="item.avatar"/>
                        <b> {{item.employee_name}}</b>
                    </ng-template>
                </ng-select>
            </ion-item>
            <ion-item lines="none" *ngIf="eventForm.get('participants').hasError('required') && eventForm.get('participants').touched">
                <div class="error-message">
                    This field is required.
                </div>
            </ion-item>
            <br>
            <ion-item-divider lines="none" color="light">Location</ion-item-divider>
            <ion-item lines="none">
                <!--
                <ion-label position="floating"><ion-icon name="pin"></ion-icon> Address</ion-label>
                <ion-input id="address" #address type="text" formControlName="address"></ion-input>
                -->
                <input id="address" #address type="text" formControlName="address">
                <ion-button fill="clear" size="small" (click)="locate()">Current location</ion-button>
            </ion-item>
        </ion-list>
        <ion-row class="ion-justify-content-center ion-no-padding">
            <ion-col col-auto class="ion-text-right"t>
                <ion-button [disabled]='!eventForm.valid' type="submit" fill="clear" size="small" color="primary">
                <ion-icon name='send' slot="start"></ion-icon>
                Send
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
